---
permalink: "categories/"
eleventyExcludeFromCollections: true
layout: layouts/default.liquid
---

<main class="section category-overview">
  <div class="container">
    {% for group in level1 %}
    <h2 class="title is-4">{{ group.label }}</h2>
    <ul class="grid-columns pb-5 mb-5">
      {% for service in group.services %}
        {% if service.available == true %}
          <li class="grid-column">
            <a
              class="{% if service.available == false %}service-unavailable{% endif %}"
              {% if service.external == true %}
                href="{{service.destination}}"
                target="_blank"
                rel="noopener noreferrer"
              {% else %}
                href="/overview/{{ service.destination | slug }}/"
              {% endif %}
              >
              <div class="card">
                <div class="card-content has-background-white px-0 py-0">
                  <figure class="image is-4by3">
                    <img
                      src="{{ service.image }}"
                      alt="{{ service.description }}"
                    />
                  </figure>
                </div>
                <div
                  class="card-content has-text-centered content category-title"
                >
                  {{ service.label }}
                </div>
              </div>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</main>
