---
pagination:
  data: helparray
  size: 1
  alias: help
  addAllPagesToCollections: true
permalink: "help/{{ help.key | slug }}/"
layout: layouts/default.liquid
tags: page
eleventyComputed:
  title: "Service {{ help.key }}"
---
<style>
  body, html {
    background-color: #ececec;
    margin:0;
    padding:0;
  }

  #container {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  #container>div {
    height: 100vh;
  }

  #frame {
    flex: 3;
  }

  #frame iframe{
    width:100%;
    height:100vh;
    border:none;
  }

  #help {
    flex: 1;
  }

</style>

<div id="container">
  <div id="frame">
    <iframe src="https://service.berlin.de/dienstleistung/{{ help.key }}"></iframe>
  </div>

  <div id="help">
    <h1>help.json</h1>
    <ul>
    {% for item in help.items %}
      <li>
        <strong>{{ item.label }}</strong>
        {% if item.content %}
        <p>{{ item.content }}</p>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </div>
</div>