---
pagination:
  data: level2array
  size: 1
  alias: overview
  addAllPagesToCollections: true
permalink: "overview/{{ overview.key | slug }}/"
layout: layouts/default.liquid
tags: overview
eleventyComputed:
  title: "{{ overview.label }}"
  breadcrumb: "{{ overview.label }}"
---

<main class="section service-overview">
  <div class="container">
    <ul class="grid-columns">
      {% for service in overview.services %}
      <li class="grid-column">
        <a
          {%
          if
          service.subs
          %}
          data-service-group="{{ service.label | slug }}"
          {%
          else
          %}
          href="/service/{{ service.destination }}/"
          {%
          endif
          %}
        >
          <div class="card">
            <div class="card-content has-background-white px-0 py-0">
              <figure class="image is-4by3">
                <img
                  src="{{ service.image }}"
                  alt="{{ service.description }}"
                />
              </figure>
            </div>
            <div class="card-content has-text-centered content card-title">
              {{ service.label }}
            </div>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
    {% for service in overview.services %} {% if service.subs %}
    <div class="subservices-wrapper" id="subservices-{{ service.label | slug }}">
      <ul
        class="mt-6 grid-columns subservices"
      >
        {% for subservice in service.subs %}
        <li
          class="{% if forloop.index != 0 %}mt-4{% endif %} has-background-white subservice"
        >
          <a href="/service/{{ subservice.destination }}/" class="px-2 py-2">{{
            subservice.label
          }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %} {% endfor %}
  </div>
</main>

<script src="/js/overview.js"></script>
