---
pagination:
  data: level3array
  size: 1
  alias: service
  addAllPagesToCollections: true
permalink: "service/{{ service.key | slug }}/"
layout: layouts/default.liquid
tags: service
eleventyComputed:
  title: "{{ service.title }}"
  parentKey: "{{ service.parent.key }}"
  parentTitle: "{{ service.parent.title }}"
  breadcrumb: "{{ service.title }}"
---

<main class="section service">
  <div class="container">
    <div class="columns">
      <div class="column is-3">

      </div>
      <div class="column is-6">
        {% comment %}
        {% if service.intro %}
        {{ service.intro }}
        {% endif %}
        {% endcomment %}
        {% if service.documents %}
        <h3 class="title is-4 pb-3 mt-6 mb-0 has-text-weight-normal">Erforderliche Unterlagen</h3>
        {% for element in service.documents %}
        {% if element.label %}
        <details class="py-3">
          <summary class="media">
            <div class="media-content"><strong>{{ element.label }}</strong></div>
            <div class="media-right">
              <figure class="image">
                <img class="arrow-down" src="/images/arrow_down_off.svg" alt="Pfeil-Icon">
              </figure>
            </div>
          </summary>
          <p class="pt-0">{{ element.content }}</p>
        </details>
        {% else %}
        <p class="py-3">{{ element }}</p>
        {% endif %}
        {% endfor %}
        {% endif %} {% if service.requirements %}
        <h3 class="title is-4 pb-2 mt-6 mb-0 has-text-weight-normal">Voraussetzungen</h3>
          {% for element in service.requirements %}
            {% if element.label %}
            <details class="py-3">
              <summary class="media">
                <div class="media-content"><strong>{{ element.label }}</strong></div>
                <div class="media-right">
                  <figure class="image">
                    <img class="arrow-right" src="/images/arrow_down_off.svg" alt="Arrow">
                  </figure>
                </div>
              </summary>
              <p class="pt-0">{{ element.content }}</p>
            </details>
            {% else %}
            <p class="py-3">{{ element }}</p>
            {% endif %}
          {% endfor %}
        {% endif %} {% if service.costs %}
        <h3 class="title is-4 pb-2 mt-6 mb-0 has-text-weight-normal">Gebühren</h3>
        <ul class="pb-4 mt-4">
          {% for element in service.costs %}
          <li class="content mt-2 mb-0">
            {% if element.label %}
            <strong>{{ element.label }}</strong
            ><br />
            <p>{{ element.content }}</p>
            {% else %}
            {{ element }}
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% endif %} {% if service.time %}
        <h3 class="title is-4 pb-2 mt-6 mb-0 has-text-weight-normal">Durchschnittliche Bearbeitungszeit</h3>
        <ul class="pb-4 mt-4">
          {% for element in service.time %}
          <li class="content mt-2 mb-0">
            {% if element.label %}
            <strong>{{ element.label }}</strong
            ><br />
            <p>{{ element.content }}</p>
            {% else %}
            {{ element }}
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% endif %}
        <a class="button is-light mt-6" disabled>Nötige Formulare aufrufen</a>
        <button class="button is-outlined mt-6" onclick="window.print()">Diese Seite als PDF herunterladen</button>
      </div>
      <div class="column is-3">

        <a
          href=""
          class="button is-primary"
          disabled
        >Termin in meiner Nähe suchen</a>

        <a
          href="/help/{{ service.key | slug }}/appointment"
          class="button is-primary mt-5"
          {%- unless service.appointment.berlin.url -%}
            disabled
          {%- endunless -%}
        >Termin in ganz Berlin suchen</a>

        <a
          href="/help/{{ service.key | slug }}"
          class="has-text-primary mt-5 link-portal"
        >Zum Service-Portal Berlin > {{ service.title }}</a>

        <button
          class="button is-text mt-6"
          onclick="window.print()"
        >Seite drucken</button>

      </div>
    </div>
  </div>
</main>
